@page "/november"

<div class="flexy" hidden="@C1">
    <h2>Thought Capital</h2>
    <p>In terms of personal philosophy, the most central theme of October was ...</p>
    <h2>Financial Evaluation</h2>
    <label></label>
</div>

<div class="flexy" hidden="@C2">

</div>
@code {
    static public bool C2 { get; set; } = true;
    static public bool C1 { get; set; } = true;

    protected override void OnInitialized()
    {
        // currency
        // budget 
    }
}
