@page "/display-token";

<h3>Your Access Token is...</h3>
<input @bind="@TokenText" disabled/>
<button>Copy Access Token</button>
<p>On the next page, you will be <br/>
   asked to paste your access token<br/>
   in the "Access Token" field.<br/></p>
<button>Help</button>
<button>Next</button>


@code {
    static public string? TokenText = Generator.AccessToken;
}
