@page "/"
@inject NavigationManager NM

<div class="cookie">
    <h2>The Administrator values your Privacy.</h2>
    <p>There are cookies used by this application. View the <a href="/privacy-policy">privacy policy</a> for more information.</p>
    <button @onclick="@X0">OK</button>
</div>
@code {
    public void X0()
    {
        UX.SetDayPart();
        UX.PageTitle = "Good " + UX.DayPart + UX.UserDisplay;
        NM.NavigateTo("/home");
    }
}
